@charset "utf-8";

@font-face { 
    font-family: gameFont;

    src: url("clacon.ttf");
}

body {
	background-color:black;
	font-family: gameFont;
	font-size: 20pt;
	user-select: none;
	color:#ff860d;
	margin:0;padding:0;
}
.white-text{color:#fff;}
.red-text{color:#ff602a;}

main{
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background-color:rgba(0,0,0,.5);
	
	display:flex;
	align-items: center;
	justify-content: center;
}
main > div {
	display: flex;
	height: min-content;
	max-height: 100vh;
	flex-wrap: wrap;
	justify-content: center;
}

#menu{
	width:auto;
	position:relative;
	display:block;
	padding:0;
	margin:.25em .5em;
	/* vertical-align: top; */
}
#main {
	/* min-width: 370px; */
	width:auto;
	position:relative;
	display:inline-block;
	padding:0;
	/* margin-top:1em; */
	/* vertical-align:top; */
}


.fly-left::after{
	position:relative;
	right:0;
	animation: flyleft 1s linear infinite;
}

/* menus */


#top-menu{
	display: flex;
	justify-content: space-between;
	padding: .25em .25em 0 .25em;
	margin: 0;
	list-style-type:none;
	text-align:left;
}
#top-menu li {
	display: block;
}

#menu ul {
	list-style-type:none;
	text-align:left;
	padding:0;
	margin: 0;
	position: relative;
}
#menu li.menu-item {
	padding-right: 2.5em;
}
#menu li.menu-item:before{
	content:attr(data-hotkey);
	position:absolute;
	right:0;
	color:#eee;
}

li.menu-item {
	cursor:pointer;
}
li.menu-item:hover{
	text-decoration:underline;
}


li.off:after{
	color:#ff602a;
	content: " off";
	position: absolute;
	right: .75em;
}
li.on:after{
	color:#62c21f;
	content: " on";
	position: absolute;
	right: .75em;
}
span.cursorblink {
	color: #eee;
	animation: cursor .75s step-start infinite;
}
li#time {
	text-align: right;
	padding:0;
}



/* modals */

#modals div {
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background-color:rgba(0,0,0,.5);
	text-align:center;
	display:none;
	
	align-items: center;
	justify-content: center;
	overflow: auto;
}


#modals div ul {
	list-style-type:none;
	display:inline-block;
	background-color:rgba(0,0,0,.6);
	padding:.5em;
	margin:none;
	width:auto;
	border:4px double #ff860d;/*#2f9aa4;*/
	border-width: 3px 5px 3px 5px;
}


#modals div.show{
	display:flex;
}

input {
	font: 1em gameFont;
	color: #fff;
	background-color: transparent;
	border: 1px solid #ff860d;
	outline: none;
	margin: .25em;
	padding: .5em;
	width: calc(100% - .5em);
	box-sizing: border-box;
}

/* highscores */

table#highscores {
	width: 80vw;
	max-width: 30em;
	border:none;
	border-spacing:0;
	padding:0;
	margin:auto;
	font:1em gameFont;
}
table#highscores th {
	padding: .5em;
	text-align: left;
}
table#highscores td {
	padding: .5em;
	border-top: 1px solid #ff860d;
	text-align: left;
}


/* gameboard */

table#gameboard {
	border:none;
	border-spacing:0;
	padding:0;
	margin:auto;
	font:1em gameFont;
}
table#gameboard tr{
	border-spacing:0;
	border:none;
	padding:0;
	line-height:.74em;/*19.8px;*/
}
table#gameboard tr td, span.hovertext {
	font-weight:normal;
	white-space:pre;
	border-spacing:0;
	padding:0;
	display:inline-block;
	width: .38em;/*9.9px;*/
	position:relative;
}
table#gameboard tr td::before, span.hovertext::before {
	z-index:1;
	position:absolute;
	display:none;
	pointer-events: none;
	color:#ff860d;
	background-color:#000;
	padding: .25em;
	transform:translate(-50%,-100%);
}
table#gameboard tr td:hover::before, span.hovertext:hover::before {display:inline;}
/*table#gameboard tr td:hover::after {animation: blinker .5s linear infinite;}*/

.player::after {color:#fff;content: "☺";} .player::before {content: "I am the player"}


.player_shield::after {color:#fff;content: "☺";font-weight:600;} .player_shield::before {content: "I am the shielded player"}
.player_dead::after {color:#f00;content: "☼";} .player_dead::before {content: "You died"}
.player_trapped::after {color:#fff;content: "☺";animation: blinker .4s step-start infinite;} .player_trapped::before {content: "I am the trapped player"}
.player_shield_trapped::after {color:#fff;content: "☺";animation: blinker .4s step-start infinite;font-weight:600;} .player_shield_trapped::before {content: "I am the shielded and trapped player"}

.zoid::after {color:#a52188;content: "☻";} .zoid::before {content: "I am an enemy zoid"}
.zoidrone::after {color:#999;content: "☻";} .zoidrone::before {content: "I am a zoidrone"}
.pzoidrone::after {color:#ff6d6d;content: "☻";} .pzoidrone::before {content: "I am a hatching zoidrone"}

.pod::after {color:#ff860d;content: "o";}
.clover::after {color:#62c21f;content: "♣";} .clover::before {content: "A clover"}
.superpod::after {color:#42f596;content: "♥";} .superpod::before {content: "A superpod"}

.trap::after {color:yellow;content: "♦";} .trap::before {content: "I am a trap"}
.mine::after {color:#ff602a; animation: blinker .7s step-start infinite;content: "+";} .mine::before {content: "A mine"}
.blackhole::after {color:#f00;content: "*";}

.space::after {color:black;content: " ";} /*.space::before {content: "Nothing"}*/

.udlr_weak::after {color:#2f9aa4	;content: "╬";}
.udl_weak::after {color:#2f9aa4;content: "╣";}
.udr_weak::after {color:#2f9aa4;content: "╠";}
.ulr_weak::after {color:#2f9aa4;content: "╩";}
.dlr_weak::after {color:#2f9aa4;content: "╦";}
.ud_weak::after, .u_weak::after, .d_weak::after {color:#2f9aa4;content: "║";}
.lr_weak::after, .l_weak::after, .r_weak::after {color:#2f9aa4;content: "═";}
.ur_weak::after {color:#2f9aa4;content: "╚";}
.dl_weak::after {color:#2f9aa4;content: "╗";}
.ul_weak::after {color:#2f9aa4;content: "╝";}
.dr_weak::after {color:#2f9aa4;content: "╔";}
/*.udlr_weak::before, .udl_weak::before, .udr_weak::before, .ulr_weak::before, .dlr_weak::before, .ud_weak::before, .u_weak::before, .d_weak::before, .lr_weak::before, .l_weak::before, .r_weak::before, .ur_weak::before, .dl_weak::before, .ul_weak::before, .dr_weak::before {content: "A resiliant wall"}*/

.udlr::after {color:#45d0dd;content: "╬";font-weight:400;}
.udl::after {color:#45d0dd;content: "╣";font-weight:400;}
.udr::after {color:#45d0dd;content: "╠";font-weight:400;}
.ulr::after {color:#45d0dd;content: "╩";font-weight:400;}
.dlr::after {color:#45d0dd;content: "╦";font-weight:400;}
.ud::after, .u::after, .d::after {color:#45d0dd;content: "║";font-weight:400;}
.lr::after, .l::after, .r::after {color:#45d0dd;content: "═";font-weight:400;}
.ur::after {color:#45d0dd;content: "╚";font-weight:400;}
.dl::after {color:#45d0dd;content: "╗";font-weight:400;}
.ul::after {color:#45d0dd;content: "╝";font-weight:400;}
.dr::after {color:#45d0dd;content: "╔";font-weight:400;}
/*.udlr::before, .udl::before, .udr::before, .ulr::before, .dlr::before, .ud::before, .u::before, .d::before, .lr::before, .l::before, .r::before, .ur::before, .dl::before, .ul::before, .dr::before {content: "An impervious wall"}*/

.ud_portal::after {color:yellow;content: "│";} .ud_portal::before {content: "The portal"}
.lr_portal::after {color:yellow;content: "─";} .lr_portal::before {content: "The portal"}

.explode1::after {color:#ff602a;content: "▓"; animation: explode1 .3s step-start infinite;}
.explode2::after {color:#ff602a;content: "▓"; animation: explode2 .3s step-start infinite;}
.explode3::after {color:#ff602a;content: "▓"; animation: explode3 .3s step-start infinite;}
.explode4::after {color:#ff602a;content: "▒"; animation: explode1 .3s step-start infinite;}
.explode5::after {color:#ff602a;content: "▒"; animation: explode2 .3s step-start infinite;}
.explode6::after {color:#ff602a;content: "▒"; animation: explode3 .3s step-start infinite;}
.explode7::after {color:#ff602a;content: "░"; animation: explode1 .3s step-start infinite;}
.explode8::after {color:#ff602a;content: "░"; animation: explode2 .3s step-start infinite;}
.explode9::after {color:#ff602a;content: "░"; animation: explode3 .3s step-start infinite;}

.bullet_u::after {color:yellow;content: "↑";}
.bullet_d::after {color:yellow;content: "↓";}
.bullet_l::after {color:yellow;content: "←";}
.bullet_r::after {color:yellow;content: "→";}

.explode_bullet::after {color:yellow;content: "☼";animation: explode1 .3s step-start infinite;}


/* animations */
@keyframes cursor {
  50% {
    opacity: 0;
  }
}


@keyframes blinker {
  65% {
    opacity: 0;
  }
}


@keyframes explode1 {
  33% {
    opacity: .7;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: .4;
  }
}
@keyframes explode2 {
  33% {
    opacity: .4;
  }
  66% {
    opacity: .7;
  }
  100% {
    opacity: 1;
  }
}
@keyframes explode3 {
  33% {
    opacity: 1;
  }
  66% {
    opacity: .4;
  }
  100% {
    opacity: .7;
  }
}
@keyframes explode4 {
  33% {
    opacity: 1;
  }
  66% {
    opacity: .5;
  }
  100% {
    opacity: .2;
  }
}

@keyframes flyleft {
  100% {
    right:15em;
  }
}







#mobilenamefield {
	display: none;
}
.mobile-button {
	display: none;
}

@media (hover: none) {
	main {
		align-items: flex-start;
	}
	#menu {
		/* max-height: calc(100vh - 530px); */
		width: calc(100vw - 1em);
		display: flex;
	}
	#menu ul {
		padding-right: 0;
		width: 50%;
	}
	li.on::after, li.off::after {
		right: .35em;
	}
	#menu ul li::before {
		display: none;
	}
	#menu ul li {
		padding: .25em;
		padding-right: 1.5em;
		margin: .25em;
	}
	
	
	#namefield, .cursorblink {
		display: none;
	}
	#mobilenamefield {
		display: block;
	}
	.menu-item {
		padding: .25em;
		margin: .25em;
		outline: 1px solid #ff860d;
	}

	.mobile-button {
		display: block;
	}
	/*special placement for arrow buttons*/
	#menu ul li.menu-item.left {
		width: calc(50% - .875em);
		height: 2.4em;
		padding-right: .25em;
		position: absolute;
		text-align: center;
		transform: translateY(calc(50% - .175em));
		display: flex;
		align-items: center;
	}
	#menu ul li.menu-item.right {
		width: calc(50% - .875em);
		height: 2.4em;
		padding-right: .25em;
		position: absolute;
		right: 0;
		transform: translateY(calc(50% - .175em));
		text-align: center;
		display: flex;
		align-items: center;
	}
	#menu ul li.menu-item.up {
		padding-right: .25em;
		text-align: center;
	}
	#menu ul li.menu-item.down {
		padding-right: .25em;
		text-align: center;
		position: relative;
		top: 3.125em;
	}

	li#time {
		position: absolute;
		text-align: center;
		width: 100%;
	}
	ul:has(#time) {
		position: absolute;
		bottom: 0;
		width: calc(100% - 1em);
	}
}



/* Font size adjustments for small mobile screens */
@media (max-width: 430px),(max-height: 430px) {
	body {font-size: 16pt;} 
	#menu {margin: 0;}
}
@media (max-width: 380px), (max-height: 380px) {
	body {font-size: 5vw;}
}