@charset "utf-8";

@font-face { 
    font-family: gameFont;

    src: url("clacon.ttf");
}

body{background-color:black;font:26px gameFont;color:#ff860d;margin:0;padding:0;}

div#main {
	width:auto;
	/*border-left:3px double #ff860d;*/
	position:absolute;
	right:0;
	top:0;
	padding:10px;
}


.fly-left::after{
	position:relative;
	right:0;
	animation: flyleft 1s linear infinite;
}

/* menus */


#left-menu, #top-menu {
	list-style-type:none;
}
#points {
	display: block;
	position:absolute;
	margin:10px;
	right:0;
	top:0;
}
#level {
	display: block;
	position:absolute;
	margin:10px;
	left:0;
	top:0;
}


li.off{
	display:none;
}

/* gameboard */

table#gameboard {
	border:none;
	border-spacing:0;
	padding:0;
	margin:auto;
	font:26px gameFont;
}
table#gameboard tr{
	border-spacing:0;
	border:none;
	padding:0;
	line-height:20px;
}
table#gameboard tr td, span.hovertext {
	font-weight:normal;
	white-space:pre;
	border-spacing:0;
	padding:0;
	display:inline;
	position:relative;
}
table#gameboard tr td::before, span.hovertext::before {z-index:1;position:absolute;right:0;margin-right:.6em;display:none;pointer-events: none;}
table#gameboard tr td:hover::before, span.hovertext:hover::before {color:#ff860d;background-color:#000;display:inline;}
/*table#gameboard tr td:hover::after {animation: blinker .5s linear infinite;}*/

.player::after {color:#fff;content: "☺";} .player::before {content: "I am the player"}


.player_shield::after {color:#fff;content: "☺";font-weight:600;} .player_shield::before {content: "I am the shielded player"}
.player_dead::after {color:#f00;content: "☼";} .player_dead::before {content: "You died"}
.player_trapped::after {color:#fff;content: "☺";animation: blinker .4s step-start infinite;} .player_trapped::before {content: "I am the trapped player"}
.player_shield_trapped::after {color:#fff;content: "☺";animation: blinker .4s step-start infinite;font-weight:600;} .player_shield_trapped::before {content: "I am the shielded and trapped player"}

.zoid::after {color:#a52188;content: "☻";} .zoid::before {content: "I am an enemy zoid"}
.zoidrone::after {color:#999;content: "☻";} .zoidrone::before {content: "I am a zoidrone"}
.pzoidrone::after {color:#ff6d6d;content: "☻";} .pzoidrone::before {content: "I am a hatching zoidrone"}

.pod::after {color:#ff860d;content: "o";}
.clover::after {color:#62c21f;content: "♣";} .clover::before {content: "A clover"}
.superpod::after {color:#42f596;content: "♥";} .superpod::before {content: "A superpod"}

.trap::after {color:yellow;content: "♦";} .trap::before {content: "I am a trap"}
.mine::after {color:#ff602a; animation: blinker .7s step-start infinite;content: "+";} .mine::before {content: "A mine"}
.blackhole::after {color:#f00;content: "*";}

.space::after {color:black;content: " ";} /*.space::before {content: "Nothing"}*/

.udlr_weak::after {color:2f9aa4	;content: "╬";}
.udl_weak::after {color:2f9aa4;content: "╣";}
.udr_weak::after {color:2f9aa4;content: "╠";}
.ulr_weak::after {color:2f9aa4;content: "╩";}
.dlr_weak::after {color:2f9aa4;content: "╦";}
.ud_weak::after, .u_weak::after, .d_weak::after {color:2f9aa4;content: "║";}
.lr_weak::after, .l_weak::after, .r_weak::after {color:2f9aa4;content: "═";}
.ur_weak::after {color:2f9aa4;content: "╚";}
.dl_weak::after {color:2f9aa4;content: "╗";}
.ul_weak::after {color:2f9aa4;content: "╝";}
.dr_weak::after {color:2f9aa4;content: "╔";}
/*.udlr_weak::before, .udl_weak::before, .udr_weak::before, .ulr_weak::before, .dlr_weak::before, .ud_weak::before, .u_weak::before, .d_weak::before, .lr_weak::before, .l_weak::before, .r_weak::before, .ur_weak::before, .dl_weak::before, .ul_weak::before, .dr_weak::before {content: "A resiliant wall"}*/

.udlr::after {color:45d0dd;content: "╬";font-weight:400;}
.udl::after {color:45d0dd;content: "╣";font-weight:400;}
.udr::after {color:45d0dd;content: "╠";font-weight:400;}
.ulr::after {color:45d0dd;content: "╩";font-weight:400;}
.dlr::after {color:45d0dd;content: "╦";font-weight:400;}
.ud::after, .u::after, .d::after {color:45d0dd;content: "║";font-weight:400;}
.lr::after, .l::after, .r::after {color:45d0dd;content: "═";font-weight:400;}
.ur::after {color:45d0dd;content: "╚";font-weight:400;}
.dl::after {color:45d0dd;content: "╗";font-weight:400;}
.ul::after {color:45d0dd;content: "╝";font-weight:400;}
.dr::after {color:45d0dd;content: "╔";font-weight:400;}
/*.udlr::before, .udl::before, .udr::before, .ulr::before, .dlr::before, .ud::before, .u::before, .d::before, .lr::before, .l::before, .r::before, .ur::before, .dl::before, .ul::before, .dr::before {content: "An impervious wall"}*/

.ud_portal::after {color:yellow;content: "│";} .ud_portal::before {content: "The portal"}
.lr_portal::after {color:yellow;content: "─";} .lr_portal::before {content: "The portal"}

.explode1::after {color:#ff602a;content: "▓"; animation: explode1 .3s step-start infinite;}
.explode2::after {color:#ff602a;content: "▓"; animation: explode2 .3s step-start infinite;}
.explode3::after {color:#ff602a;content: "▓"; animation: explode3 .3s step-start infinite;}
.explode4::after {color:#ff602a;content: "▒"; animation: explode1 .3s step-start infinite;}
.explode5::after {color:#ff602a;content: "▒"; animation: explode2 .3s step-start infinite;}
.explode6::after {color:#ff602a;content: "▒"; animation: explode3 .3s step-start infinite;}
.explode7::after {color:#ff602a;content: "░"; animation: explode1 .3s step-start infinite;}
.explode8::after {color:#ff602a;content: "░"; animation: explode2 .3s step-start infinite;}
.explode9::after {color:#ff602a;content: "░"; animation: explode3 .3s step-start infinite;}

.bullet_u::after {color:yellow;content: "↑";}
.bullet_d::after {color:yellow;content: "↓";}
.bullet_l::after {color:yellow;content: "←";}
.bullet_r::after {color:yellow;content: "→";}

.explode_bullet::after {color:yellow;content: "☼";animation: explode1 .3s step-start infinite;}


/* animations */

@keyframes blinker {
  65% {
    opacity: 0;
  }
}


@keyframes explode1 {
  33% {
    opacity: .7;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: .4;
  }
}
@keyframes explode2 {
  33% {
    opacity: .4;
  }
  66% {
    opacity: .7;
  }
  100% {
    opacity: 1;
  }
}
@keyframes explode3 {
  33% {
    opacity: 1;
  }
  66% {
    opacity: .4;
  }
  100% {
    opacity: .7;
  }
}
@keyframes explode4 {
  33% {
    opacity: 1;
  }
  66% {
    opacity: .5;
  }
  100% {
    opacity: .2;
  }
}

@keyframes flyleft {
  100% {
    right:15em;
  }
}